/* =============================================================================
 *
 * BOILERPLATE
 *
 * Version: 1.0.0 (31/12/2025)
 * Author: Stu Cowley
 *
 * -----------------------------------------------------------------------------
 *
 * Sets the base styles that establishes the baseline behaviour of the project.
 *
 * These boilerplate styles define low-level, opinionated defaults that apply
 * broadly across the site, such as box-sizing rules and default element
 * behaviours.
 *
 * These styles are intentionally global and are applied early in the
 * stylesheet to ensure a consistent and predictable foundation for all
 * components and layouts.
 *
 * ========================================================================== */

@use 'sass:list';
@use '../abstracts/mixins' as mixin;

/**
 * -----------------------------------------------------------------------------
 * GLOBAL TYPOGRAPHY
 * -----------------------------------------------------------------------------
 *
 * Sets the global typography styles for base copy and headings.
 *
 * ========================================================================== */

body {
    color: var(--copy-clr);
    font: var(--copy-font);
    line-height: var(--copy-leading);
}

strong {
    font-weight: var(--fw-bld);
}

// -----------------------------------------------------------------------------
// Loop through heading levels 1-6 to apply the global styles for headings
// -----------------------------------------------------------------------------
$headings: ();

@for $i from 1 through 6 {
    $headings: list.append($headings, h#{$i}, comma);
}

#{$headings} {
    color: var(--heading-clr);
    font-weight: var(--heading-fw);
    line-height: var(--heading-leading);
    letter-spacing: var(--heading-tracking);
}

// -----------------------------------------------------------------------------
// Loop through heading levels 1-3 and apply relevant font size styles
// -----------------------------------------------------------------------------

$headings: (
    h1: --heading-h1-fs,
    h2: --heading-h2-fs,
    h3: --heading-h3-fs
);

@each $heading, $var in $headings {
    #{$heading} {
        font-size: var(#{$var});
    }
}

/**
 * -----------------------------------------------------------------------------
 * GLOBAL LINKS
 * -----------------------------------------------------------------------------
 *
 * Sets the global link styles. The link colour default is set to inherit so it
 * is your responsiblilty to set the `<a>` colour.
 *
 * ========================================================================== */

a {
    color: var(--link-clr);
    text-decoration: var(--link-decoration);

    @include mixin.state-selector($focus: false, $focus-visible: false) {
        color: var(--link-clr-active);
        border-bottom: var(--link-border-b-active);
        text-decoration: var(--link-decoration-active);
    }

    @include mixin.state-selector($hover: false, $active: true) {
        color: var(--link-clr-focus);
        border-bottom: var(--link-border-b-focused);
        text-decoration: var(--link-decoration-focused);
        outline: var(--link-outline-focused);
    }
}

/**
 * -----------------------------------------------------------------------------
 * GLOBAL LISTS
 * -----------------------------------------------------------------------------
 *
 * Sets the global list styles. This will remove the list style as there are no
 * lists in this project that require list styling. If you require a list style
 * you will need to define this in the respective class.
 *
 * ========================================================================== */

ul,
ol {
    list-style: none;
}
