@use '../abstracts/mixins' as mixin;

/* =============================================================================
 * FONTS
 *
 * Version: 1.0.0 (31/12/2025)
 * Author: Stu Cowley
 *
 * -----------------------------------------------------------------------------
 *
 * Load all custom fonts
 *
 * ========================================================================== */

/*
 * Load Jost Font
 * -------------------------------------------------------------------------- */

@include mixin.font-face(
    $url: '../assets/fonts/Jost/Jost-VariableFont_wght.ttf',
    $weight-range: 400 700,
    $family: 'Jost'
);
