// =============================================================================
//
// ABSTRACTS
//
// Version: 1.0.0 (30/12/2025)
// Author: Stu Cowley
//
// -----------------------------------------------------------------------------
//
// This file is used to import the following partials using the `@forward`
// module directive:
//
// - _variables.scss:   Contains the site's custom properties.
// - _mixins.scss:      Contains the `@forward` index for importing mixin
//                      partials, i.e. button, flex and grid shorthand mixins.
//
// =============================================================================

@forward 'variables';
@forward 'mixins';
