// =============================================================================
//
// CUSTOM PROPERTIES
//
// Version: 1.0.0 (31/12/2025)
// Author: Stu Cowley
//
// -----------------------------------------------------------------------------
//
// Defines all of the site's custom properties for typography, base,
// components, layout and page styles.
//
// =============================================================================

:root {
    /* Add custom properties here */
}
