// =============================================================================
//
// CUSTOM PROPERTIES
//
// Version: 1.0.0 (31/12/2025)
// Author: Stu Cowley
//
// -----------------------------------------------------------------------------
//
// Defines all of the site's custom properties for typography, base,
// components, layout and page styles.
//
// =============================================================================

:root {
    /* ---------- COLOURS */

    /* --- Neutrals */
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(210, 17%, 95%);
    --clr-neutral-800: hsl(264, 5%, 20%);
    --clr-neutral-900: hsl(270, 3%, 11%);

    /* --- Branding */
    --clr-branding: hsl(11, 73%, 66%);
    --clr-branding-light: hsl(11, 100%, 80%);

    /* ---------- TYPOGRAPHY */

    /* --- Font Weight */
    --fw-reg: 400;
    --fw-med: 500;
    --fw-semibld: 600;
    --fw-bld: 700;

    /* --- Font Size */
    --fs-100: 0.875rem;     /* 14px */
    --fs-200: 0.9375rem;    /* 15px */
    --fs-300: 1rem;         /* 16px */
    --fs-400: 1.25rem;      /* 20px */
    --fs-500: 1.5rem;       /* 24px */
    --fs-600: 1.75rem;      /* 28px */
    --fs-700: 2rem;         /* 32px */
    --fs-800: 2.5rem;       /* 40px */
    --fs-900: 3rem;         /* 48px */

    /* --- Font Family */
    --ff-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --ff-jost: "Jost", var(--ff-sans);
    --ff-base: var(--ff-jost);

    /* ---------- BOILERPLATE */

    /* --- Copy */
    --copy-clr: var(--clr-neutral-800);
    --copy-fw: var(--fw-reg);
    --copy-fs: var(--fs-300);
    --copy-ff: var(--ff-jost);
    --copy-font: var(--copy-fw) var(--copy-fs) var(--copy-ff);
    --copy-leading: 1.625em;

    /* --- Headings */
    --heading-clr: inherit;
    --heading-fw: var(--fw-med);
    --heading-leading: var(--copy-leading);
    --heading-tracking: 5px;
    --heading-case: uppercase;
}
