// =============================================================================
//
// CUSTOM PROPERTIES
//
// Version: 1.0.0 (31/12/2025)
// Author: Stu Cowley
//
// -----------------------------------------------------------------------------
//
// Defines all of the site's custom properties for typography, base,
// components, layout and page styles.
//
// =============================================================================

:root {
    /* ---------- COLOURS */

    /* --- Neutrals */
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(210, 17%, 95%);
    --clr-neutral-800: hsl(264, 5%, 20%);
    --clr-neutral-900: hsl(270, 3%, 11%);

    /* --- Branding */
    --clr-branding: hsl(11, 73%, 66%);
    --clr-branding-light: hsl(11, 100%, 80%);

    /* ---------- TYPOGRAPHY */

    /* --- Font Weight */
    --fw-reg: 400;
    --fw-med: 500;
    --fw-semibld: 600;
    --fw-bld: 700;

    /* --- Font Size */
    --fs-100: 0.875rem;     /* 14px */
    --fs-200: 0.9375rem;    /* 15px */
    --fs-300: 1rem;         /* 16px */
    --fs-400: 1.25rem;      /* 20px */
    --fs-500: 1.5rem;       /* 24px */
    --fs-600: 1.75rem;      /* 28px */
    --fs-700: 2rem;         /* 32px */
    --fs-800: 2.5rem;       /* 40px */
    --fs-900: 3rem;         /* 48px */

    /* --- Font Family */
    --ff-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --ff-jost: "Jost", var(--ff-sans);
    --ff-base: var(--ff-jost);

    /* ---------- BOILERPLATE */

    /* --- Copy */
    --copy-clr: var(--clr-neutral-800);
    --copy-fw: var(--fw-reg);
    --copy-fs: var(--fs-300);
    --copy-ff: var(--ff-jost);
    --copy-font: var(--copy-fw) var(--copy-fs) var(--copy-ff);
    --copy-leading: 1.625em;

    /* --- Headings */
    --heading-clr: inherit;
    --heading-fw: var(--fw-med);
    --heading-leading: var(--copy-leading);
    --heading-tracking: 5px;
    --heading-case: uppercase;

    --heading-h1-fs: var(--fs-700);
    --heading-h2-fs: var(--fs-600);
    --heading-h3-fs: var(--fs-400);

    /* --- Links */
    --link-clr: inherit;
    --link-clr-active: inherit;
    --link-clr-focused: inherit;
    --link-border-b-active: 1px solid var(--clr-neutral-800);
    --link-border-b-focused: var(--link-border-b-active);
    --link-outline-focused: none;
    --link-decoration: none;
    --link-decoration-active: none;
    --link-decoration-focused: none;

    /* ---------- LAYOUT */

    /* --- Container */
    --container-max-w: 20.4375rem;
    --container-p: 0.25rem;

    /* --- Header */
    --header-bg: var(--clr-neutral-100);

    --header-inner-max-w: var(--container-max-w);
    --header-inner-py: 2.125rem;

    --header-branding-w: 12.625rem;
    --header-branding-transition: opacity 150ms ease-in-out;
    --header-branding-opacity-active: 0.5;

    --header-nav-pos-top: 5.25rem;
    --header-nav-transition: transform 200ms ease-out, opacity 200ms ease-out, visibility 0ms linear 200ms;
    --header-nav-transition-active: transform 200ms ease-out, opacity 200ms ease-out, visibility 0s;
    --header-nav-bg: var(--clr-neutral-900);

    --header-menu-row-gap: 2rem;
    --header-menu-p: 3rem 1.5rem;
    --header-menu-clr: var(--clr-neutral-100);
    --header-menu-fs: var(--fs-500);
    --header-menu-case: uppercase;
    --header-menu-tracking: 2px;

    --header-overlay-inset: var(--header-nav-pos-top) 0 0 0;
    --header-overlay-bg: rgba(0, 0, 0, 0.5);
    --header-overlay-transition: opacity 200ms ease-out, visibility 0ms linear 200ms;
    --header-overlay-open-transition: opacity 200ms ease-out, visibility 0s;

    /* ---------- COMPONENTS */

    /* --- Buttons */
    --btn-p: 0.925rem 1.5rem;
    --btn-radius: 8px;
    --btn-transition: background-color 150ms ease-in-out, color 200ms ease-in-out;
    --btn-fw: var(--fw-med);
    --btn-fs: var(--fs-200);
    --btn-ff: var(--copy-ff);
    --btn-font: var(--btn-fw) var(--btn-fs) var(--btn-ff);
    --btn-tracking: 1px;
    --btn-case: uppercase;
    --btn-outline-clr: inherit;
    --btn-outline-w: 2px;
    --btn-outline-offset: 3px;

    --btn-dark-bg: var(--clr-neutral-100);
    --btn-dark-bg-active: var(--clr-branding-light);
    --btn-dark-clr: var(--clr-neutral-800);
    --btn-dark-clr-active: var(--clr-neutral-100);
    --btn-dark-outline-clr: var(--btn-dark-clr-active);

    --btn-light-bg: var(--clr-branding);
    --btn-light-bg-active: var(--clr-branding-light);
    --btn-light-clr: var(--clr-neutral-100);
    --btn-light-clr-active: var(--btn-light-clr);
    --btn-light-outline-clr: var(--btn-light-bg-active);


    /* ---------- MEDIA QUERIES */

    /* 768px */
    @media(min-width: 48em) {
        --heading-h1-fs: var(--fs-900);
        --heading-h2-fs: var(--fs-800);

        --container-max-w: 43.125rem;

        --header-mt: 2rem;
        --header-inner-py: 2rem;
        --header-nav-bg: transparent;
        --header-menu-p: 0;
        --header-menu-col-gap: 2.625rem;
        --header-menu-clr: var(--clr-neutral-800);
        --header-menu-fs: var(--fs-100);
    }

    /* 1024px */
    @media(min-width: 64em) {
        --container-max-w: 56.25rem;
    }

    /* 1280px */
    @media(min-width: 80em) {
        --container-max-w: 69.375rem;
    }
}
