/* =============================================================================
 * CUSTOM PROPERTIES
 * ========================================================================== */

:root {
    /* COLOURS
     * ---------------------------------------------------------------------- */
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(210, 17%, 95%);
    --clr-neutral-800: hsl(264, 5%, 20%);
    --clr-neutral-900: hsl(270, 3%, 11%);

    --clr-peach: hsl(11, 73%, 66%);
    --clr-light-peach: hsl(11, 73%, 66%);

    /* FONTS
     * ---------------------------------------------------------------------- */

    /* ----- Font Weight */
    --fw-reg: 400;
    --fw-med: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* ----- Font Size */
    --fs-100: 0.875rem; // 14px
    --fs-200: 0.9375rem; // 15px
    --fs-300: 1rem; // 16px
    --fs-400: 1.25rem; // 20px
    --fs-500: 1.5rem; // 24px
    --fs-600: 1.75rem; // 28px
    --fs-700: 2rem; // 32px
    --fs-800: 2.5rem; // 40px
    --fs-900: 3rem; // 48px

    /* ----- Font Family */
    --ff-sans: 'Jost', sans-serif;

    /* TYPOGRAPHY
     * ---------------------------------------------------------------------- */

    /* ----- Base */
    --base-clr: var(--clr-neutral-800);
    --base-fw: var(--fw-reg);
    --base-fs: var(--fs-300);
    --base-ff: var(--ff-sans);
    --base-font: var(--base-fw) var(--base-fs) var(--base-ff);
    --base-leading: 26px;

    /* ----- Headings */
    --heading-clr: inherit;
    --heading-fw: var(--fw-med);
    --heading-ff: var(--base-ff);

    /* ----- Links */
    --link-radius: 4px;
    --link-transition: color 200ms ease-in-out,
        background-color 200ms ease-in-out;
    --link-clr: inherit;
    --link-clr-hover: var(--link-clr);
    --link-outline: 3px solid hsl(211, 100%, 78%);
    --link-outline-offset: 4px;
    --link-decoration: none;
    --link-decoration-hover: var(--link-decoration);
}
