// =============================================================================
//
// CUSTOM PROPERTIES
//
// Version: 1.0.0 (31/12/2025)
// Author: Stu Cowley
//
// -----------------------------------------------------------------------------
//
// Defines all of the site's custom properties for typography, base,
// components, layout and page styles.
//
// =============================================================================

:root {
    /* ---------- COLOURS */

    /* --- Neutrals */
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(210, 17%, 95%);
    --clr-neutral-800: hsl(264, 5%, 20%);
    --clr-neutral-900: hsl(270, 3%, 11%);

    /* --- Branding */
    --clr-branding: hsl(11, 73%, 66%);
    --clr-branding-light: hsl(11, 100%, 80%);

    /* ---------- TYPOGRAPHY */

    /* --- Font Weight */
    --fw-reg: 400;
    --fw-med: 500;
    --fw-semibld: 600;
    --fw-bld: 700;

    /* --- Font Size */
    --fs-100: 0.875rem;     /* 14px */
    --fs-200: 0.9375rem;    /* 15px */
    --fs-300: 1rem;         /* 16px */
    --fs-400: 1.25rem;      /* 20px */
    --fs-500: 1.5rem;       /* 24px */
    --fs-600: 1.75rem;      /* 28px */
    --fs-700: 2rem;         /* 32px */
    --fs-800: 2.5rem;       /* 40px */
    --fs-900: 3rem;         /* 48px */

    /* --- Font Family */
    --ff-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --ff-jost: "Jost", var(--ff-sans);
    --ff-base: var(--ff-jost);

    /* ---------- BOILERPLATE */

    /* --- Copy */
    --copy-clr: var(--clr-neutral-800);
    --copy-fw: var(--fw-reg);
    --copy-fs: var(--fs-300);
    --copy-ff: var(--ff-jost);
    --copy-font: var(--copy-fw) var(--copy-fs) var(--copy-ff);
    --copy-leading: 1.625em;

    /* --- Headings */
    --heading-clr: inherit;
    --heading-fw: var(--fw-med);
    --heading-leading: 1.0;
    --heading-tracking: 0;

    --heading-h1-fs: var(--fs-700);
    --heading-h2-fs: var(--fs-600);
    --heading-h3-fs: var(--fs-400);

    /* --- Links */
    --link-clr: inherit;
    --link-clr-active: inherit;
    --link-clr-focused: inherit;
    --link-border-b-active: 1px solid var(--clr-neutral-800);
    --link-border-b-focused: var(--link-border-b-active);
    --link-outline-focused: none;
    --link-decoration: none;
    --link-decoration-active: none;
    --link-decoration-focused: none;

    /* ---------- LAYOUT */

    /* --- Container */
    --container-max-w: 20.4375rem;
    --container-p: 0.25rem;

    /* --- Header */
    --header-bg: var(--clr-neutral-100);

    --header-inner-max-w: var(--container-max-w);
    --header-inner-py: 2.125rem;

    --header-branding-w: 12.625rem;
    --header-branding-transition: opacity 150ms ease-in-out;
    --header-branding-opacity-active: 0.5;

    --header-nav-pos-top: 5.25rem;
    --header-nav-transition: transform 200ms ease-out, opacity 200ms ease-out, visibility 0ms linear 200ms;
    --header-nav-transition-active: transform 200ms ease-out, opacity 200ms ease-out, visibility 0s;
    --header-nav-bg: var(--clr-neutral-900);

    --header-menu-row-gap: 2rem;
    --header-menu-p: 3rem 1.5rem;
    --header-menu-clr: var(--clr-neutral-100);
    --header-menu-fs: var(--fs-500);
    --header-menu-case: uppercase;
    --header-menu-tracking: 2px;

    --header-overlay-inset: var(--header-nav-pos-top) 0 0 0;
    --header-overlay-bg: rgba(0, 0, 0, 0.5);
    --header-overlay-transition: opacity 200ms ease-out, visibility 0ms linear 200ms;
    --header-overlay-open-transition: opacity 200ms ease-out, visibility 0s;

    /* ---------- COMPONENTS */

    /* --- Buttons */
    --btn-p: 0.925rem 1.5rem;
    --btn-radius: 8px;
    --btn-transition: background-color 150ms ease-in-out, color 200ms ease-in-out;
    --btn-fw: var(--fw-med);
    --btn-fs: var(--fs-200);
    --btn-ff: var(--copy-ff);
    --btn-font: var(--btn-fw) var(--btn-fs) var(--btn-ff);
    --btn-tracking: 1px;
    --btn-case: uppercase;
    --btn-outline-clr: inherit;
    --btn-outline-w: 2px;
    --btn-outline-offset: 3px;

    --btn-dark-bg: var(--clr-neutral-100);
    --btn-dark-bg-active: var(--clr-branding-light);
    --btn-dark-clr: var(--clr-neutral-800);
    --btn-dark-clr-active: var(--clr-neutral-100);
    --btn-dark-outline-clr: var(--btn-dark-clr-active);

    --btn-light-bg: var(--clr-branding);
    --btn-light-bg-active: var(--clr-branding-light);
    --btn-light-clr: var(--clr-neutral-100);
    --btn-light-clr-active: var(--btn-light-clr);
    --btn-light-outline-clr: var(--btn-light-bg-active);

    /* ----- Hero */
    --hero-max-w: 100%;
    --hero-py: 6.5625rem;
    --hero-mt: 0;
    --hero-radius: 0;
    --hero-bg: var(--clr-branding);
    --hero-clr: var(--clr-neutral-100);

    --hero-inner-max-w: 20.875rem;
    --hero-inner-row-gap: 1.5rem;
    --hero-inner-px: 0.25rem;
    --hero-inner-fs: var(--fs-200);
    --hero-inner-h2-fs: var(--fs-700);

    --hero-home-bg-pos: left 7.25rem;
    --hero-home-bg-size: cover;
    --hero-home-img-w: 17.5625rem;
    --hero-home-img-h: 24rem;
    --hero-home-img-mt: 2.5rem;

    /* ----- Call To Action */
    --cta-bg: var(--clr-branding);
    --cta-row-gap: 2rem;
    --cta-p: 4rem 1.5rem;
    --cta-radius: 15px;
    --cta-clr: var(--clr-neutral-100);
    --cta-text-align: center;

    --cta-content-max-w: 100%;
    --cta-content-row-gap: 1.25rem;

    --cta-heading-max-w: 100%;
    --cta-heading-fs: var(--fs-700);

    /* ---------- PAGES */

    /* ----- Home */

    /** Portfolio Nav **/
    --portfolio-nav-row-gap: 1.5rem;
    --portfolio-nav-col-gap: 0;
    --portfolio-nav-py: 7.5rem;

    --portfolio-nav-item-radius: 15px;
    --portfolio-nav-item-clr: var(--clr-neutral-100);
    --portfolio-nav-item-fs: var(--fs-200);
    --portfolio-nav-item-text-align: center;
    --portfolio-nav-item-transition: background-color 200ms linear;

    --portfolio-nav-item-overlay-bg: rgba(0, 0, 0, 0.5);
    --portfolio-nav-item-overlay-bg-active: hsl(11 73% 66% / 0.8);

    --portfolio-nav-item-heading-fs: var(--fs-600);
    --portfolio-nav-item-heading-case: uppercase;
    --portfolio-nav-item-heading-tracking: 1.4px;

    --portfolio-nav-item-link-mt: 0.75rem;
    --portfolio-nav-item-link-fs: var(--fs-200);
    --portfolio-nav-item-link-case: uppercase;
    --portfolio-nav-item-link-tracking: 5px;

    --portfolio-nav-item-link-icn-w: 0.25rem;
    --portfolio-nav-item-link-icn-h: 0.5rem;
    --portfolio-nav-item-link-icn-ml: 0.9375rem;

    /** Features **/
    --features-row-gap: 5rem;
    --features-col-gap: 0;
    --features-pb: 7.5625rem;
    --features-text-align: center;

    --features-item-heading-my: 3rem 2rem;
    --features-item-heading-fs: var(--fs-400);
    --features-item-heading-case: uppercase;
    --features-item-heading-tracking: 5px;

    /* ---------- MEDIA QUERIES */

    /* 768px */
    @media(min-width: 48em) {
        /* Headings */
        --heading-h1-fs: var(--fs-900);
        --heading-h2-fs: var(--fs-800);

        /* Container */
        --container-max-w: 43.125rem;

        /* Header */
        --header-mt: 2rem;
        --header-inner-py: 2rem;
        --header-nav-bg: transparent;
        --header-menu-p: 0;
        --header-menu-col-gap: 2.625rem;
        --header-menu-clr: var(--clr-neutral-800);
        --header-menu-fs: var(--fs-100);

        /* Hero */
        --hero-mt: 1.5rem;
        --hero-max-w: var(--container-max-w);
        --hero-py: 4rem;
        --hero-radius: 15px;

        --hero-inner-max-w: 24.875rem;
        --hero-inner-px: 0;
        --hero-inner-fs: var(--fs-300);
        --hero-inner-h2-fs: var(--fs-900);


        /* Hero Home */
        --hero-home-bg-pos: 10rem 6.75rem;
        --hero-home-bg-size: contain;
        --hero-home-img-h: 24.375rem;
        --hero-home-inner-max-w: 32rem;
        --hero-home-inner-heading-leading: 1;
        --hero-home-content-max-w: 26rem;

        /* Call to Action */
        --cta-content-max-w: 26.8125rem;

        --cta-heading-max-w: 16.375rem;
        --cta-heading-fs: var(--fs-800);

        /* Features */
        --features-pb: 4.1875rem;
        --features-text-align: left;
        --features-item-heading-my: 0 1rem;
    }

    /* 1024px */
    @media(min-width: 64em) {
        /* Container */
        --container-max-w: 56.25rem;

        /* Hero */
        --hero-max-w: var(--container-max-w);
        --hero-home-img-h: 26.375rem;
        --hero-home-bg-pos: top right;
        --hero-home-img-h: 30rem;

        /* Call to Action */
        --cta-p: 4rem;
        --cta-text-align: left;

        --cta-content-max-w: 28.6875rem;
    }

    /* 1280px */
    @media(min-width: 80em) {
        /* Container */
        --container-max-w: 69.375rem;

        /* Hero */
        --hero-inner-max-w: 25rem;

        /* Call to Action */
        --cta-p: 4.5rem 5.9375rem;

        --cta-heading-max-w: 16.75rem;

        --cta-content-max-w: 26.9375rem;

        /* Portfolio Nav */
        --portfolio-nav-row-gap: 1.5rem;
        --portfolio-nav-col-gap: 1.875rem;

        /* Features */
        --features-text-align: center;
        --features-col-gap: 1.75rem;
        --features-pb: 10rem;
        --features-item-heading-my: 3rem;
    }

    /* 1440px */
    @media(min-width: 90em) {
        /* Portfolio Nav */
        --porfolio-nav-py: 10rem;
    }
}
