/* =============================================================================
 *
 * APP DESIGN
 *
 * Version: 1.0.0 (07/02/2026)
 * Author: Stu Cowley
 *
 * -----------------------------------------------------------------------------
 *
 * The app design partial defines the styles specific to the App Design page,
 * these styles mainly target the hero background pattern as these change for
 * each page.
 *
 * ========================================================================== */

@use '../abstracts/mixins' as mixin;
