/* =============================================================================
 *
 * APP DESIGN
 *
 * Version: 1.0.0 (07/02/2026)
 * Author: Stu Cowley
 *
 * -----------------------------------------------------------------------------
 *
 * The app design partial defines the styles specific to the App Design page,
 * these styles mainly target the hero background pattern as these change for
 * each page.
 *
 * ========================================================================== */

@use '../abstracts/mixins' as mixin;

.hero {
    &-app-design {
        @include mixin.background(
            $img: '/src/assets/images/app-design/desktop/bg-pattern-intro-app.svg',
            $size: var(--app-design-hero-bg-size),
            $position: var(--app-design-hero-bg-pos)
        );
    }
}
