/* =============================================================================
 *
 * GRAPHIC DESIGN
 *
 * Version: 1.0.0 (07/02/2026)
 * Author: Stu Cowley
 *
 * -----------------------------------------------------------------------------
 *
 * The graphic design partial defines the styles for the Graphic Design page,
 * these styles mainly target the hero background pattern as these change for
 * each page.
 *
 * ========================================================================== */

@use '../abstracts/mixins' as mixin;

.hero {
    &-graphic-design {
        @include mixin.background(
            $img: '/src/assets/images/graphic-design/desktop/bg-pattern-intro-graphic.svg',
            $size: var(--graphic-design-hero-bg-size),
            $position: var(--graphic-design-hero-bg-pos)
        );
    }
}
