@use '../abstracts' as abstract;

/* =========================================
 * HERO LANDING
 * ========================================= */

.hero-landing {
  text-align: var(--hero-landing-text-align);
  padding-block: var(--hero-landing-padding-block);

  .btn {
    outline-color: var(--hero-landing-btn-outline-color);

    @media (min-width: 90em) {
      margin: unset;
      margin-right: auto;
    }
  }

  &__container {
    margin-inline: auto;
    max-width: var(--hero-landing-container-max-width);

    @media (min-width: 90em) {
      display: grid;
      grid-template-columns: var(--hero-landing-container-cols);
    }
  }

  &__content {
    @include abstract.flex($direction: column);

    gap: var(--hero-landing-content-gap);

    .heading {
      font-size: var(--hero-landing-content-heading-fs);
      line-height: var(--hero-landing-content-heading-leading);
      max-width: var(--hero-landing-content-heading-max-width);
    }

    &-text {
      max-width: var(--hero-landing-content-text-max-width);

      @media (min-width: 90em) {
        margin-right: auto;
      }
    }
  }

  &__img {
    overflow: hidden;
    margin: var(--hero-landing-img-margin);
    height: var(--hero-landing-img-height);
    width: var(--hero-landing-img-width);

    img {
      width: 100%;
    }

    @media (min-width: 90em) {
      margin: unset;
      margin-left: auto;
    }
  }
}

/* =========================================
 * FEATURES
 * ========================================= */

.features {
  &__container {
    @include abstract.flex($direction: column);
    gap: var(--features-container-gap);

    @media (min-width: 90em) {
      flex-direction: row;
    }
  }

  &__item {
    @media (min-width: 48em) {
      display: grid;
      grid-template-columns: var(--features-item-grid-cols);
      gap: var(--features-item-grid-gap);
      align-items: center;
    }

    @media (min-width: 90em) {
      display: unset;
    }

    &-img {
      background-image: var(--features-item-img-bg-img-url);
      background-size: var(--features-item-img-bg-img-size);
      background-repeat: no-repeat;
      background-position: var(--features-item-bg-img-pos);

      img {
        margin-inline: auto;

        @media (min-width: 48em) {
          margin-inline: unset;
        }

        @media (min-width: 90em) {
          margin-inline: auto;
        }
      }
    }

    &-content {
      text-align: var(--features-item-content-text-align);

      p {
        margin-top: var(--features-item-content-margin-top);
      }

      .heading {
        text-transform: var(--features-item-heading-text-transform);
        font-size: var(--features-item-heading-fs);
        margin-top: var(--features-item-heading-margin-top);
      }
    }
  }
}
