// =============================================================================
//
// PAGES
//
// Version: 1.0.0 (30/12/2025)
// Author: Stu Cowley
//
// -----------------------------------------------------------------------------
//
// This file is used to import the following partials using the `@forward`
// module directive for page specific styles:
//
// - home.scss:         Sets the styles for the homepage
// - web-design.scss    Sets the styles for the web design page
// - app-design.scss    Sets the styles for the app design page
// - portfolio.scss     Sets the styles for portfolio pages
// - about.scss:        Sets the styles for the about us page
// - locations.scss:    Sets the styles for the locations page
// - contact.scss:      Sets the styles for the contact page
//
// =============================================================================

@forward 'home';
@forward 'web-design';
@forward 'app-design';
@forward 'portfolio';
