/* =============================================================================
 *
 * WEB DESIGN
 *
 * Version: 1.0.0 (05/02/2026)
 * Author: Stu Cowley
 *
 * -----------------------------------------------------------------------------
 *
 * The web design partial defines the styles specific to the Web Design page,
 * these styles mainly target the hero background pattern as these change for
 * each page.
 *
 * ========================================================================== */

@use '../abstracts/mixins' as mixin;

.hero {
    &-web-design {
        @include mixin.background(
            $img: '/src/assets/images/web-design/desktop/bg-pattern-intro-web.svg',
            $size: var(--web-design-hero-bg-size),
            $position: var(--web-design-hero-bg-pos)
        );
    }
}
