@use '../abstracts/mixins' as mixin;

/* =============================================================================
 * BOILERPLATE
 * ========================================================================== */

body {
    color: var(--base-clr);
    font: var(--base-font);
    line-height: var(--base-leading);
}

/**
 * HEADINGS
 * -----------------------------------------------------------------------------
 * This site does not set specified global styles for heading levels, instead 
 * when a heading level is being used it must contain the `.heading` class. 
 * This is done to prevent being locked into a global series of headings that 
 * can become uncontrollable at a later stage. The styles defined in the 
 * boilerplate `.heading` only contain the inherited colour, font weight and 
 * family. You need to set the appearance of headings where required.
 * -------------------------------------------------------------------------- */

.heading {
    color: var(--heading-clr);
    font-weight: var(--heading-fw);
    font-family: var(--heading-ff);
}

/**
 * LINKS
 * -------------------------------------------------------------------------- */

a {
    transition: var(--link-transition);
    color: var(--link-clr);
    text-decoration: var(--link-decoration);

    @include mixin.hover {
        color: var(--link-clr-hover);
    }

    @include mixin.focus-all {
        border-radius: var(--link-radius);
        outline: var(--link-outline);
        outline-offset: var(--link-outline-offset);
    }
}

/**
 * ACCESSIBILITY
 * -------------------------------------------------------------------------- */

.sr-only {
    position: absolute !important;
    clip-path: inset(50%) !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}
