@use '../abstracts' as abstract;

/* ========================================
 * JOST
 * ======================================== */

@include abstract.font-face(
  $font-family: 'Jost',
  $font-path: '../assets/fonts/Jost/Jost-VariableFont_wght.ttf',
  $font-weight: 400 700
);
