@use '../abstracts/mixins' as mixin;

/* =============================================================================
 * FONTS
 * ========================================================================== */

/**
 * Jost
 * -------------------------------------------------------------------------- */

@include mixin.font-face(
    $url: '../assets/fonts/Jost/Jost-VariableFont_wght.ttf',
    $family: 'Jost',
    $weight: 400 700
);
