/* =============================================================================
 *
 * HERO
 *
 * Version: 1.0.0 (16/01/2026)
 * Author: Stu Cowley
 *
 * -----------------------------------------------------------------------------
 *
 * The Hero partial defines the styles for the global hero component, which
 * serves as the primary introductory section for a page or view.
 *
 * The Hero is responsible for establishing strong visual hierarchy by pairing
 * headline content with a supporting message. It often acts as the first point
 * of engagement for users, and it includes typography and background pattern
 * imagery.
 *
 * Styles defined in this Hero partial focus on layout, spacing, responsive
 * behaviour, and visual composition specific to the Hero pattern.
 * Component-focused values such as typography and button usage are layered on
 * top of global custom properties and foundations defined in the variables
 * partial.
 *
 * Variants or alternate Hero formats (e.g., home page hero) are defined in
 * this partial instead of the home page partial to preserve consistency and
 * avoid duplication across the project.
 *
 * ========================================================================== */

@use '../abstracts/mixins' as mixin;

.hero {
    max-width: var(--hero-max-w);
    padding-block: var(--hero-py);
    border-radius: var(--hero-radius);
    background-color: var(--hero-bg);
    color: var(--hero-clr);
}

/**
 * -----------------------------------------------------------------------------
 * MEDIA QUERIES
 * -----------------------------------------------------------------------------
 *
 * Defines the responsive styles for 768px, 1024px and 1280px+. I like to use
 * em values for the media query (`@media`) min-width to ensure that font sizes
 * are correctly displayed based on the zoom level instead of staying static
 * when the page is either zoomed in or out.
 *
 * ========================================================================== */

/* ---- 768px */
@media(min-width: 48em) {
    .hero {
        margin-inline: auto;
    }
}
