@use '../abstracts' as abstract;

/* ========================================
 * NAKED HERO
 * ======================================== */

.hero {
  font-size: var(--hero-fs);
  line-height: var(--hero-leading);
  color: var(--hero-color);
  background-color: var(--hero-bg);
  border-radius: var(--hero-radius);
  overflow: hidden;
  margin-inline: auto;
  max-width: var(--hero-max-width);

  .heading {
    font-size: var(--hero-heading-fs) !important;
    line-height: var(--hero-heading-leading);
  }
}

/* ========================================
 * BASIC HERO
 * ======================================== */

.hero-basic {
  text-align: var(--hero-basic-text-align);
  padding-block: var(--hero-basic-padding-block);

  &__container {
    margin-inline: auto;
    max-width: var(--hero-basic-container-max-width);
  }

  &__content {
    @include abstract.flex;

    gap: var(--hero-basic-content-gap);
  }
}

/* ========================================
 * IMAGE HERO
 * ======================================== */

.hero-img {
  @include abstract.flex($direction: column-reverse);

  overflow: hidden;

  @media (min-width: 90em) {
    &[data-hero-img-pos='left'] {
      flex-direction: row-reverse;
    }

    &[data-hero-img-pos='right'] {
      flex-direction: row;
    }
  }

  &__container {
    margin-inline: auto;
    max-width: var(--hero-img-container-max-width);
  }

  &__content {
    text-align: var(--hero-img-content-text-text-align);
    padding-block: var(--hero-img-content-padding-block);

    .heading {
      font-size: var(--hero-img-content-heading-fs);
    }

    &-text {
      margin-top: var(--hero-img-content-text-margin-top);
      max-width: var(--hero-img-content-text-max-width);
    }
  }
}
