// =============================================================================
//
// COMPONENTS
//
// Version: 1.0.0 (30/12/2025)
// Author: Stu Cowley
//
// -----------------------------------------------------------------------------
//
// This file is used to import the following partials using the `@forward`
// module directive for component specific styles:
//
// - buttons.scss:  Contains the styles for the base `.btn` class and button
//                  variant styles using the `data-btn-type` data attribute
// - forms.scss:    Contains the styles for form elements
// - hero.scss:     Contains hero styles
// - cta.scss:      Contains call to action styles
// - cards.scss:    Contains portfolio item card styles
//
// =============================================================================

@forward 'buttons';
