/* =============================================================================
 *
 * FOOTER
 *
 * Version: 1.0.0 (04/02/2026)
 * Author: Stu Cowley
 *
 * -----------------------------------------------------------------------------
 *
 * Defines the global footer, including its structual layout, positioning and
 * interaction-related styles.
 *
 * The footer provides persistent access to core site navigation, branding,
 * contact information and social media contacts. The footer is responsible for
 * maintaining clear usability across varying screen sizes and devices types.
 * Styles defined here ensure that the footer remains visually consistent,
 * accessible and functionally predictable throughout the site experience.
 *
 * Footer styles are intended to remain global and non-contextual. Page-level
 * overrides should be avoided unless strictly necessary, and implemented with
 * care to maintain predictable behaviour across the design system.
 *
 * ========================================================================== */

@use '../abstracts/mixins' as mixin;

.footer {
    position: relative;
    padding-block: var(--footer-py);
    margin-top: var(--footer-mt);
    z-index: -1;
    background-color: var(--footer-bg);
    text-align: var(--footer-text-align);

    /**
     * -------------------------------------------------------------------------
     * FOOTER INNER
     * -------------------------------------------------------------------------
     *
     * The footer inner works as a container that is specific to the footer. It
     * apples the same max-width custom property value as the `.container`.
     * Flexbox is applied to the footer inner to control the seperation of
     * footer items
     *
     * ====================================================================== */

    &-inner {
        @include mixin.flex(
            $direction: column,
            $row-gap: var(--footer-inner-row-gap)
        );

        max-width: var(--container-max-w);
        margin-inline: auto;
    }
}
