/* =============================================================================
 *
 * FOOTER
 *
 * Version: 1.0.0 (04/02/2026)
 * Author: Stu Cowley
 *
 * -----------------------------------------------------------------------------
 *
 * Defines the global footer, including its structual layout, positioning and
 * interaction-related styles.
 *
 * The footer provides persistent access to core site navigation, branding,
 * contact information and social media contacts. The footer is responsible for
 * maintaining clear usability across varying screen sizes and devices types.
 * Styles defined here ensure that the footer remains visually consistent,
 * accessible and functionally predictable throughout the site experience.
 *
 * Footer styles are intended to remain global and non-contextual. Page-level
 * overrides should be avoided unless strictly necessary, and implemented with
 * care to maintain predictable behaviour across the design system.
 *
 * ========================================================================== */

@use '../abstracts/mixins' as mixin;

.footer {
    position: relative;
    padding-block: var(--footer-py);
    margin-top: var(--footer-mt);
    background-color: var(--footer-bg);
    text-align: var(--footer-text-align);
    color: var(--footer-clr);

    .col-3-md {
        row-gap: var(--footer-col-row-gap);
    }

    /**
     * -------------------------------------------------------------------------
     * FOOTER INNER
     * -------------------------------------------------------------------------
     *
     * The footer inner works as a container that is specific to the footer. It
     * apples the same max-width custom property value as the `.container`.
     * Flexbox is applied to the footer inner to control the seperation of
     * footer items
     *
     * ====================================================================== */

    &-inner {
        @include mixin.flex(
            $direction: column,
            $row-gap: var(--footer-inner-row-gap)
        );

        max-width: var(--container-max-w);
        margin-inline: auto;
    }

    /**
     * -------------------------------------------------------------------------
     * FOOTER GRID
     * -------------------------------------------------------------------------
     *
     * The footer grid applies a grid layout that can be used when a two column
     * layout is required on high breakpoints. On the base breakpoint a single
     * grid column is defined.
     *
     * ====================================================================== */

    &-grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }


    /**
     * -------------------------------------------------------------------------
     * FOOTER BRANDING
     * -------------------------------------------------------------------------
     *
     * The footer branding styles define the appearance of the site branding
     * that is displayed in the footer. The site's branding is only displyed in
     * two places. That being in the header and the footer.
     *
     * The footer branding does differ from the header branding as a border
     * bottom is applied to the footer branding section to break up the
     * branding from the contact details.
     *
     * ====================================================================== */

    &-branding {
        img {
            @include mixin.size($width: var(--footer-branding-img-w));

            margin-inline: auto;
        }

        padding-bottom: var(--footer-branding-pb);
        border-bottom: var(--footer-branding-border-b);
    }


    /**
     * -------------------------------------------------------------------------
     * FOOTER NAVIGATION
     * -------------------------------------------------------------------------
     *
     * The footer navigation is a basic navigation that features the same links
     * as the header navigation, but they are presented in a more simplistic
     * form. The navigation menu items display stacked on the base breakpoint
     * and changes to a horizontal display.
     *
     * ====================================================================== */

    &-nav {
        @include mixin.flex(
            $direction: column,
            $row-gap: var(--footer-nav-row-gap)
        );

        margin-top: var(--footer-nav-mt);
        color: var(--footer-nav-clr);
        font-size: var(--footer-nav-fs);
        text-transform: var(--footer-nav-case);
        letter-spacing: var(--footer-nav-tracking);

        a {
            border-bottom: none;
            transition: var(--footer-nav-transition);

            @include mixin.state-selector() {
                color: var(--footer-nav-clr-active)
            }
        }
    }

    /**
     * -------------------------------------------------------------------------
     * FOOTER SOCIALS
     * -------------------------------------------------------------------------
     *
     * The footer socials features an inline display of social media networks.
     * Each item uses an inline SVG icon added in the markup that doesn't have
     * a fill property added, instead this is added here. This is to control
     * the fill colour of the social media icons based on their active and non
     * active states.
     *
     * ====================================================================== */

    &-socials {
        @include mixin.flex(
            $justify: center,
            $col-gap: var(--footer-socials-col-gap)
        );

        a {
            svg {
                fill: var(--footer-socials-icn-fill);
                transition: var(--footer-socials-icn-transition);

                @include mixin.state-selector($focus-within: true) {
                    fill: var(--footer-socials-icn-fill-active);
                }
            }

            @include mixin.state-selector {
                border-bottom: none;
            }
        }
    }

    /**
     * -------------------------------------------------------------------------
     * FOOTER ATTRIBUTION
     * -------------------------------------------------------------------------
     *
     * The footer attribution is the section of the site that displays site
     * developer information, copyright details and any links relating to
     * privacy policies and company T&C's
     *
     * ====================================================================== */

    .attribution {
        margin-top: var(--footer-attribution-mt);
        opacity: var(--footer-attribution-opacity);
        font-size: var(--footer-attribution-fs);
        text-align: var(--footer-attribution-text-align);
    }
}

/**
 * -----------------------------------------------------------------------------
 * MEDIA QUERIES
 * -----------------------------------------------------------------------------
 *
 * The media query rules that switch the footer from the mobile layout (stacked
 * pattern) to the tablet pattern that are used to work alongside the
 * `.col-2-md` and `.col-3-md` grid utility classes. These media queries are
 * mainly design styling and don't alter the structure of the grid.
 *
 * ========================================================================== */

/* ----- 768px */
@media(min-width: 48em) {
    .footer {
        .col-2-md {
            border-bottom: var(--footer-col-border-b);
        }

        .col-3-md {
            place-items: start;
        }

        &-branding {
            border-bottom: none;

            img {
                margin-inline: 0;
            }
        }

        &-nav {
            flex-direction: row;
            justify-content: flex-end;
            column-gap: var(--footer-nav-col-gap);
            margin-top: 0;
        }

        &-socials {
            margin-top: auto;
            margin-left: auto;
        }
    }
}

/* ----- 1024px */
@media(min-width: 64em) {
    .footer {
        &-nav {
            column-gap: 2.625rem;
        }
    }
}
