/* =============================================================================
 *
 * FOOTER
 *
 * Version: 1.0.0 (04/02/2026)
 * Author: Stu Cowley
 *
 * -----------------------------------------------------------------------------
 *
 * Defines the global footer, including its structual layout, positioning and
 * interaction-related styles.
 *
 * The footer provides persistent access to core site navigation, branding,
 * contact information and social media contacts. The footer is responsible for
 * maintaining clear usability across varying screen sizes and devices types.
 * Styles defined here ensure that the footer remains visually consistent,
 * accessible and functionally predictable throughout the site experience.
 *
 * Footer styles are intended to remain global and non-contextual. Page-level
 * overrides should be avoided unless strictly necessary, and implemented with
 * care to maintain predictable behaviour across the design system.
 *
 * ========================================================================== */

@use '../abstracts/mixins' as mixin;

.footer {
    position: relative;
    padding-block: var(--footer-py);
    margin-top: var(--footer-mt);
    background-color: var(--footer-bg);
    text-align: var(--footer-text-align);

    /**
     * -------------------------------------------------------------------------
     * FOOTER INNER
     * -------------------------------------------------------------------------
     *
     * The footer inner works as a container that is specific to the footer. It
     * apples the same max-width custom property value as the `.container`.
     * Flexbox is applied to the footer inner to control the seperation of
     * footer items
     *
     * ====================================================================== */

    &-inner {
        @include mixin.flex(
            $direction: column,
            $row-gap: var(--footer-inner-row-gap)
        );

        max-width: var(--container-max-w);
        margin-inline: auto;
    }

    /**
     * -------------------------------------------------------------------------
     * FOOTER BRANDING
     * -------------------------------------------------------------------------
     *
     * The footer branding styles define the appearance of the site branding
     * that is displayed in the footer. The site's branding is only displyed in
     * two places. That being in the header and the footer.
     *
     * The footer branding does differ from the header branding as a border
     * bottom is applied to the footer branding section to break up the
     * branding from the contact details.
     *
     * ====================================================================== */

    &-branding {
        img {
            @include mixin.size($width: var(--footer-branding-img-w));

            margin-inline: auto;
        }

        padding-bottom: var(--footer-branding-pb);
        border-bottom: var(--footer-branding-border-b);
    }


    /**
     * -------------------------------------------------------------------------
     * FOOTER NAVIGATION
     * -------------------------------------------------------------------------
     *
     * The footer navigation is a basic navigation that features the same links
     * as the header navigation, but they are presented in a more simplistic
     * form. The navigation menu items display stacked on the base breakpoint
     * and changes to a horizontal display.
     *
     * ====================================================================== */

    &-nav {
        @include mixin.flex(
            $direction: column,
            $row-gap: var(--footer-nav-row-gap)
        );

        color: var(--footer-nav-clr);
        font-size: var(--footer-nav-fs);
        text-transform: var(--footer-nav-case);
        letter-spacing: var(--footer-nav-tracking);

        a {
            border-bottom: none;
            transition: var(--footer-nav-transition);

            @include mixin.state-selector() {
                color: var(--footer-nav-clr-active)
            }
        }
    }
}
