/* =============================================================================
 *
 * HEADER
 *
 * Version: 1.0.0 (10/01/2026)
 * Author: Stu Cowley
 *
 * -----------------------------------------------------------------------------
 *
 * Defines the global header, including its structual layout, positioning and
 * interaction-related styles.
 *
 * The header provides persistent access to core site navigation and branding,
 * and is responsible for maintaining clear usability across varying screen
 * sizes and device types. Styles defined here ensure that the header remains
 * visually consistent, accessible and functionally predictable throughout the
 * site experience.
 *
 * The header partial acts as the central location for header-specific patterns
 * such as branding alignment, navigation layout, responsiveness, and any
 * supporting interactive components (e.g. mobile menus). Visual styling
 * specific to child components should be defined in their respective partials
 * in order to preserve clarity and seperation of concerns.
 *
 * Header styles are intended to remain global and non-contextual. Page-level
 * orverrrides should be avoided unless strictly necessary, and implemented
 * with care to maintain predictable behaviour across the design system.
 *
 * ========================================================================== */

@use '../abstracts/mixins' as mixin;

.header {
    position: relative;
    background-color: var(--header-bg);

    // Header Overlay (initially hidden)
    &::after {
        content: "";
        position: fixed;
        inset: var(--header-overlay-inset);
        background-color: var(--header-overlay-bg);
        opacity: 0;
        visibility: hidden;
        transition: var(--header-overlay-transition);
        z-index: 10; // Overlay should sit above content, below the header.
    }

    // When visible, show overlay
    &[data-nav-open="true"]::after {
        opacity: 1;
        visibility: visible;
        transition: var(--header-overlay-open-transition);
    }

    /**
     * -------------------------------------------------------------------------
     * HEADER INNER
     * -------------------------------------------------------------------------
     *
     * The header inner works as a container that is specific to the header. It
     * applies the same max width custom property value as the `.container`. A
     * block padding is applied also.
     *
     * ====================================================================== */

    &-inner {
        @include mixin.flex($align-items: center, $justify: space-between);

        max-width: var(--header-inner-max-w);
        padding-block: var(--header-inner-py);
        margin-inline: auto;
    }

    /**
     * -------------------------------------------------------------------------
     * HEADER BRANDING
     * -------------------------------------------------------------------------
     *
     * The header branding styles define the appearance of the site branding
     * that is displayed in the header. The site's branding is only displayed
     * in two placed on this site. That being in the header and the footer.
     *
     * ====================================================================== */

    &-branding {
        @include mixin.size($width: var(--header-branding-w));

        transition: var(--header-branding-transition);

        @include mixin.state-selector {
            opacity: var(--header-branding-opacity-active);

            /**
             * Overrides the default a:hover `border-bottom` from being
             * displayed when the branding image is on hover.
             */
            border-bottom: none;
        }
    }

    /**
     * -------------------------------------------------------------------------
     * HEADER TOGGLE
     * -------------------------------------------------------------------------
     *
     * The header toggle styles define the appearance of the header toggle.
     * This is the button that displays the hamburger icon when the menu is
     * closed and the cross icon when the menu is open. The header toggle
     * button is only displayed viewports to to 768px (48em).
     *
     * ====================================================================== */

    &-toggle {
        @include mixin.flex($display: inline-flex, $align-items: center);

        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
    }

    /**
     * -------------------------------------------------------------------------
     * HEADER ICONS
     * -------------------------------------------------------------------------
     *
     * Sets the styles for the header icons. Either the hamburger or close
     * icons will display depending if the `aria-expanded` is true or false.
     * If `aria-expanded` is false, the hamburger icon will be display. If the
     * `aria-expanded` is true, the hamburger icon will hide and the close menu
     * icon will be displayed instead.
     *
     * ====================================================================== */

    &-icon {
        &-close {
            display: none;
        }
    }

    &-toggle[aria-expanded="true"] .header-icon-hamburger {
        display: none;
    }

    &-toggle[aria-expanded="true"] .header-icon-close {
        display: inline-flex;
    }

    /**
     * -------------------------------------------------------------------------
     * HEADER NAV
     * -------------------------------------------------------------------------
     *
     * Sets the styles for the mobile navigation panel. It is positioned
     * off-screen by default and hidden using transform, opacity, and
     * visibility. When the `data-visible="true"` attribute is applied, it
     * slides down into view and becomes fully visible.
     *
     * ====================================================================== */

    &-nav {
        @include mixin.position(
            $type: absolute,
            $top: var(--header-nav-pos-top)
        );

        inset-inline: 0;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        transition: var(--header-nav-transition);
        background-color: var(--header-nav-bg);
        z-index: 999;

        // When visible
        &[data-visible="true"] {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
            transition: var(--header-nav-transition-active);
        }
    }
}
