@use '../abstracts/mixins' as mixin;

/* ------------------------------- */
/* Header                          */
/* ------------------------------- */

.header {
    padding-block: var(--header-padding-block);

    &__wrapper {
        @include mixin.flex($direction: row);
        justify-content: space-between;
    }

    &__branding {
        @include mixin.size($width: var(--header-branding-width));

        transition: var(--header-branding-transition);
        opacity: var(--header-branding-opacity);

        @include mixin.hover-focus-within {
            opacity: var(--header-branding-opacity-active);
        }
    }

    &__toggle {
        display: none;
        border: 0;
        background: transparent;
        cursor: pointer;

        .menu-open-icon {
            display: block;
        }

        .menu-close-icon {
            display: none;
        }

        &[aria-expanded='true'] {
            .menu-open-icon {
                display: none;
            }

            .menu-close-icon {
                display: block;
            }
        }
    }

    &__menu {
        font-weight: var(--header-menu-fw);
        font-size: var(--header-menu-fs);
        letter-spacing: var(--header-menu-tracking);
        text-transform: var(--header-menu-case);
    }
}

@media (max-width: 47.98em) {
    .header {
        &__toggle {
            display: block;
        }

        &__menu {
            @include mixin.pos-absolute($pos-right: 0, $pos-left: 0);

            display: none;
            width: 100%;
            padding: var(--header-menu-padding);
            background-color: var(--header-menu-bg);
            color: var(--header-menu-clr);

            &-items {
                @include mixin.flex(
                    $align: flex-start,
                    $gap: var(--header-menu-items-gap)
                );
            }

            &[data-visible] {
                @include mixin.flex($align: flex-start);
                top: var(--header-menu-pos-top);
            }
        }
    }
}

@media (min-width: 48em) {
    .header {
        &__menu {
            &-items {
                @include mixin.flex(
                    $direction: row,
                    $gap: var(--header-menu-items-gap)
                );
            }
        }
    }
}
