// =============================================================================
//
// LAYOUT
//
// Version: 1.0.0 (30/12/2025)
// Author: Stu Cowley
//
// -----------------------------------------------------------------------------
//
// This file is used to import the following partials using the `@forward`
// module directive for layout specific styles:
//
// - _container.scss: Contains the styles for the `.container` class
// - _navigation.scss: Contains styles specific for navigation
// - _header.scss: Contains styles that are specific to the site's header
// - _footer.scss: Contains styles that are specific to the site's footer
//
// =============================================================================

@forward 'containers';
@forward 'header';
