/* ========================================
 * WRAPPER
 * ======================================== */

.wrapper {
  margin-inline: auto;
  max-width: var(--wrapper-max-width);

  /* 
   * Wrapper Spacing
   * ======================================== */
  &__spacing {
    margin-top: var(--wrapper-spacing-margin-top);
  }
}

/* ========================================
 * RESPONSIVE WRAPPER
 * ======================================== */

.wrapper-md {
  margin-inline: auto;
  max-width: 100%;

  @media (min-width: 48em) {
    max-width: var(--wrapper-max-width);
  }
}

.wrapper__spacing-md {
  margin-top: 0;

  @media (min-width: 48em) {
    margin-top: var(--wrapper-spacing-margin-top);
  }
}
